h1 {
    background-color:black ;
    font-weight: bold;
}
.My {
    color: aliceblue;
}
.Cloud {
    color: aqua;
}
h2 {
    background-color:blueviolet ;
    color: white;
    text-align: center;
}
h3 {
    background-color:lightblue ;
    color:indigo;
   text-align: right;
   text-decoration: underline;
}